<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MarketSatis.Properties.Settings.market_veritabaniConnectionString"
            connectionString="Data Source=LAPTOP-SQM1KN33\ISIMSIZ;Initial Catalog=market_veritabani;User ID=sa;Password=kizilelma"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>